@model ThinhGiangDuocThong_DoAnWeb.Areas.Admin.Models.UserViewModel

@{
    ViewData["Title"] = "Chi tiết tài khoản";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">
                        <i class="fas fa-user me-2"></i>
                        Chi tiết tài khoản
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <dl class="row">
                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.UserName)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.UserName)</dd>

                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Email)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>

                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.FullName)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.FullName)</dd>

                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.PhoneNumber)</dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <dl class="row">
                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Address)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.Address)</dd>

                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Age)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.Age)</dd>

                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Roles)</dt>
                                <dd class="col-sm-8">
                                    @if (!string.IsNullOrEmpty(Model.Roles))
                                    {
                                        <span class="badge bg-primary">@Model.Roles</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-secondary">Không có vai trò</span>
                                    }
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="mt-4">
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
                            <i class="fas fa-edit me-1"></i>
                            Chỉnh sửa
                        </a>
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="fas fa-arrow-left me-1"></i>
                            Quay lại
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 